In [ ]:
#Implement linear regression algorithm and apply it to solve any one classification problem.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
#load the data set
lungcapdata = pd.read_csv('LungCapData.csv')

In [3]:
lungcapdata

     LungCap  Age  Height Smoke  Gender Caesarean
0      6.475    6    62.1    no    male        no
1     10.125   18    74.7   yes  female        no
2      9.550   16    69.7    no  female       yes
3     11.125   14    71.0    no    male        no
4      4.800    5    56.9    no    male        no
5      6.225   11    58.7    no  female        no
6      4.950    8    63.3    no    male       yes
7      7.325   11    70.4    no    male        no
8      8.875   15    70.5    no    male        no
9      6.800   11    59.2    no    male        no
10    11.500   19    76.4    no    male       yes
11    10.925   17    71.7    no    male        no
12     6.525   12    57.5    no    male        no
13     6.000   10    61.1    no  female        no
14     7.825   10    61.2    no    male        no
15     9.525   13    63.5    no    male       yes
16     7.875   15    59.2    no    male        no
17     5.050    8    56.1    no    male        no
18     7.025   11    61.2   yes  female        no
19     9.525   14    70.6    no  female        no
20     3.975    6    57.3    no    male        no
21     5.325    8    59.7    no  female        no
22    10.025   16    72.4    no    male        no
23     8.725   11    68.0    no    male       yes
24     9.375   11    65.7    no  female        no
25     8.350   12    61.3    no    male       yes
26     6.750   12    60.7    no  female        no
27     9.025    9    65.6    no    male        no
28     1.125    4    48.7    no  female        no
29    10.475   18    72.0   yes  female        no
..       ...  ...     ...   ...     ...       ...
695    8.250   14    67.5    no    male       yes
696    6.375    9    59.9    no  female       yes
697    6.450   16    66.5   yes    male        no
698    7.950   15    67.3   yes  female        no
699    7.425   13    62.7    no    male        no
700    6.600   10    58.4    no  female        no
701   10.400   14    71.9    no  female        no
702    9.675   12    66.0    no    male        no
703    3.600    7    53.9    no    male        no
704    6.225   15    58.9    no  female        no
705   12.425   19    73.6    no  female       yes
706    9.175   15    71.1    no    male        no
707    5.275   12    58.5    no  female       yes
708    6.900   15    64.5    no  female        no
709    4.850   10    63.7    no  female        no
710   12.325   17    73.5    no    male        no
711    4.625    5    55.6    no  female       yes
712    3.425    3    51.0    no    male       yes
713    9.325   14    65.5    no    male        no
714    9.925   16    68.3    no  female        no
715    8.725   19    68.4    no  female        no
716    7.075   11    66.7    no    male       yes
717    8.825   16    71.3   yes  female        no
718    7.175   17    68.8    no    male       yes
719    7.325    9    66.3    no    male        no
720    5.725    9    56.0    no  female        no
721    9.050   18    72.0   yes    male       yes
722    3.850   11    60.5   yes  female        no
723    9.825   15    64.9    no  female        no
724    7.100   10    67.7    no    male        no

[725 rows x 6 columns]

In [4]:
#get dataset statistics
lungcapdata.describe()

          LungCap         Age      Height
count  725.000000  725.000000  725.000000
mean     7.863148   12.326897   64.836276
std      2.662008    4.004750    7.202144
min      0.507000    3.000000   45.300000
25%      6.150000    9.000000   59.900000
50%      8.000000   13.000000   65.400000
75%      9.800000   15.000000   70.300000
max     14.675000   19.000000   81.800000

In [6]:
lungcapdata.describe(include="all")

           LungCap         Age      Height Smoke Gender Caesarean
count   725.000000  725.000000  725.000000   725    725       725
unique         NaN         NaN         NaN     2      2         2
top            NaN         NaN         NaN    no   male        no
freq           NaN         NaN         NaN   648    367       561
mean      7.863148   12.326897   64.836276   NaN    NaN       NaN
std       2.662008    4.004750    7.202144   NaN    NaN       NaN
min       0.507000    3.000000   45.300000   NaN    NaN       NaN
25%       6.150000    9.000000   59.900000   NaN    NaN       NaN
50%       8.000000   13.000000   65.400000   NaN    NaN       NaN
75%       9.800000   15.000000   70.300000   NaN    NaN       NaN
max      14.675000   19.000000   81.800000   NaN    NaN       NaN

In [7]:
#find out number of rows/samples amd no of columns in the dataset
lungcapdata.shape

(725, 6)

In [8]:
lungcapdata.head(6)

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no
5    6.225   11    58.7    no  female        no

In [9]:
#find out correlation between nuemrical columns
lungcapdata.corr()

          LungCap       Age    Height
LungCap  1.000000  0.819675  0.912187
Age      0.819675  1.000000  0.835737
Height   0.912187  0.835737  1.000000

In [10]:
lungcapdata.Gender.value_counts()

male      367
female    358
Name: Gender, dtype: int64

In [11]:
# replace non-numeric fields to numerics fields
lungcapdata.Smoke.replace( {"no": 1, "yes": 0 },  inplace=True)

In [12]:
lungcapdata.Gender.replace({"male":1,"female":0},inplace=True)

In [13]:
lungcapdata.Caesarean.replace({"no":1,"yes":0},inplace=True)

In [14]:
lungcapdata.head()

   LungCap  Age  Height  Smoke  Gender  Caesarean
0    6.475    6    62.1      1       1          1
1   10.125   18    74.7      0       0          1
2    9.550   16    69.7      1       0          0
3   11.125   14    71.0      1       1          1
4    4.800    5    56.9      1       1          1

In [15]:
lungcapdata.isnull()

     LungCap    Age  Height  Smoke  Gender  Caesarean
0      False  False   False  False   False      False
1      False  False   False  False   False      False
2      False  False   False  False   False      False
3      False  False   False  False   False      False
4      False  False   False  False   False      False
5      False  False   False  False   False      False
6      False  False   False  False   False      False
7      False  False   False  False   False      False
8      False  False   False  False   False      False
9      False  False   False  False   False      False
10     False  False   False  False   False      False
11     False  False   False  False   False      False
12     False  False   False  False   False      False
13     False  False   False  False   False      False
14     False  False   False  False   False      False
15     False  False   False  False   False      False
16     False  False   False  False   False      False
17     False  False   False  False   False      False
18     False  False   False  False   False      False
19     False  False   False  False   False      False
20     False  False   False  False   False      False
21     False  False   False  False   False      False
22     False  False   False  False   False      False
23     False  False   False  False   False      False
24     False  False   False  False   False      False
25     False  False   False  False   False      False
26     False  False   False  False   False      False
27     False  False   False  False   False      False
28     False  False   False  False   False      False
29     False  False   False  False   False      False
..       ...    ...     ...    ...     ...        ...
695    False  False   False  False   False      False
696    False  False   False  False   False      False
697    False  False   False  False   False      False
698    False  False   False  False   False      False
699    False  False   False  False   False      False
700    False  False   False  False   False      False
701    False  False   False  False   False      False
702    False  False   False  False   False      False
703    False  False   False  False   False      False
704    False  False   False  False   False      False
705    False  False   False  False   False      False
706    False  False   False  False   False      False
707    False  False   False  False   False      False
708    False  False   False  False   False      False
709    False  False   False  False   False      False
710    False  False   False  False   False      False
711    False  False   False  False   False      False
712    False  False   False  False   False      False
713    False  False   False  False   False      False
714    False  False   False  False   False      False
715    False  False   False  False   False      False
716    False  False   False  False   False      False
717    False  False   False  False   False      False
718    False  False   False  False   False      False
719    False  False   False  False   False      False
720    False  False   False  False   False      False
721    False  False   False  False   False      False
722    False  False   False  False   False      False
723    False  False   False  False   False      False
724    False  False   False  False   False      False

[725 rows x 6 columns]

In [16]:
#check for null values
lungcapdata.isnull().sum()

LungCap      0
Age          0
Height       0
Smoke        0
Gender       0
Caesarean    0
dtype: int64

In [17]:
lungcapdata.columns

Index(['LungCap', 'Age', 'Height', 'Smoke', 'Gender', 'Caesarean'], dtype='object')

In [19]:
lungcapdata_x=lungcapdata.iloc[:,1:6]
lungcapdata_y=lungcapdata.iloc[:,0]

In [20]:
lungcapdata_x.shape

(725, 5)

In [21]:
lungcapdata_y.shape

(725,)

In [22]:
lungcapdata_x_train,lungcapdata_x_test,lungcapdata_y_train,lungcapdata_y_test=train_test_split(lungcapdata_x,lungcapdata_y,test_size=0.2)

In [23]:
lungcapdata_x_train.shape

(580, 5)

In [24]:
lungcapdata_x_test.shape

(145, 5)

In [26]:
#create the model
mymodel_model=LinearRegression()

#train the model
mymodel_model.fit(lungcapdata_x_train,lungcapdata_y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
#test the model
pred_y=mymodel_model.predict(lungcapdata_x_test)
pred_y

array([ 2.40394902, 10.90652793,  6.91564692,  9.9612292 , 10.22942503,
        6.21168266,  8.1553158 ,  7.92918482,  1.58232174,  9.0337981 ,
        3.91028723,  6.54134907,  3.76290428,  5.08020801,  5.57167626,
        8.23245803,  7.9953142 ,  8.6042686 ,  8.99261473,  9.84174839,
        7.67484284,  9.74723115,  9.12594939,  2.81657168,  7.25926406,
        7.14502533,  8.1522628 , 13.03682961,  9.82464711,  8.23637494,
        7.07564852,  3.14803832,  5.25625255,  6.01890813,  9.15128426,
       10.89543578,  6.18063066,  8.10045543,  3.15261781,  8.25587753,
        5.14195232,  7.29051049, 10.61166517,  7.48558946,  9.57776076,
        5.02840065, 12.13168037,  9.6813755 ,  2.64441958,  9.56713677,
        8.49740643,  4.70724224,  5.78653822,  5.74688135,  7.27808627,
       10.76362761,  5.18840225,  9.8398506 ,  9.76615022,  3.6451444 ,
        9.682902  ,  6.78536525,  7.04592859,  5.18534925, 10.17084908,
        5.7221122 ,  7.21892013, 10.81895614,  4.21471565,  5.62501012,
        6.65891453,  6.89050649, 11.4933949 ,  7.44745909, 11.95753362,
        8.75128026,  2.26802952, 11.61285814,  5.76139779,  6.94384035,
        6.65738803,  3.08018801,  7.39431965,  9.80255967, 10.9598618 ,
        7.92288439,  6.58063466,  4.41811418,  8.38232826, 10.49284694,
        7.83683909,  8.02974656,  4.01658368,  7.93740083,  7.96712076,
        8.04864806,  9.9907547 ,  4.01505718, 11.38805923, 12.37168277,
        4.94534685,  7.44898559,  7.54350283, 11.49167397,  8.86117785,
        6.78878954,  7.64883849,  8.92513571,  3.89929195,  9.25775756,
        5.44139459,  6.57240107, 11.42924261, 11.05437904,  5.98267554,
        5.69507398,  6.20710316,  5.74230185,  9.13588634,  8.21469416,
        8.45927606,  8.93928086,  9.45761047,  6.46841505,  8.2897088 ,
        9.17812805,  6.06535805, 10.35798577,  6.53168586, 11.3568128 ,
        4.25505958,  9.88561347,  8.0737885 ,  8.36665661,  8.18198273,
        9.12156433,  8.8707435 ,  8.48594299,  3.29962947,  8.10955293,
       10.32004983,  4.53777185,  7.12782718, 10.44409257, 10.35951227])

In [29]:
#check shape of the predicted vestor should be same as test y values
print(pred_y.shape)
print(lungcapdata_y_test.shape)

(145,)
(145,)

In [30]:
#check the values of model parameters/weights/coefficients
mymodel_model.coef_ # y =w0+w1.x1+w2.x2+w3.x3+w4.x4+w5.x5

array([0.1584751 , 0.26666933, 0.6649524 , 0.38396106, 0.25109455])

In [31]:
#check the corresponding x names
lungcapdata_x_train.columns

Index(['Age', 'Height', 'Smoke', 'Gender', 'Caesarean'], dtype='object')

In [32]:
mymodel_model.intercept_

-12.342609203834643

In [33]:
# check r-square metric to find out the performance of the trained model, higher the better
mymodel_square=mymodel_model.score(lungcapdata_x_train,lungcapdata_y_train)
print(mymodel_square)

0.8568776326998396

In [36]:
#Adjusted R Square  
# k= number of columns in train set
# n= number of rows(samples)in train set

n=lungcapdata_x_train.shape[1]
m=lungcapdata_x_train.shape[0]
print(m,n)

#formula

adj_mymodel_square=1 - ((1-mymodel_square)*(m-1))/(m-n-1)
print(adj_mymodel_square)

580 5
0.8556309221832877

In [37]:
#MAE on test data
lungcapdata_mae=metrics.mean_absolute_error(lungcapdata_y_test,pred_y) #actual y values - predicted y values
print(lungcapdata_mae)

0.8307789326511715

In [38]:
#MSE on test data
lungcapdata_mse=metrics.mean_squared_error(lungcapdata_y_test,pred_y)
print(lungcapdata_mse)

1.084631830394623

In [39]:
#MSE on test data
lungcapdata_mse=metrics.mean_squared_error(lungcapdata_y_test,pred_y)
print(lungcapdata_mse)

1.084631830394623

In [40]:
#MAPE (Mean Absolute Percentage Error) on test data
i=((lungcapdata_y_test-pred_y)/lungcapdata_y_test)*100
i_abs=np.abs(i)

lungcapdata_mape=np.mean(i_abs)

print('mape:',lungcapdata_mape)
print('accuracy:',100-lungcapdata_mape)

mape: 13.151195797725974
accuracy: 86.84880420227402